@import "../../variables.scss";

.profile-card {
  width: 384px;
  height: 611px;
  background-color: $Grey-800;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 40px;
  font-family: $font;

  @include respond-to(tablet) {
    width: 456px;
  }

  @include respond-to(phone) {
    width: 327px;
    height: 579px;
    padding: 24px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .profile-image {
      width: 88px;
      height: 88px;
      border-radius: 50%;
    }

    .profile-name {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      h1 {
        font-size: 1.5em;
        color: $White;
        line-height: 150%;
      }

      .location {
        color: $Green;
        font-size: 0.875em;
        line-height: 150%;
        font-weight: 700;
      }
    }

    .bio {
      font-size: 0.875em;
      line-height: 150%;
      color: $White;
    }
  }

  nav {
    width: 100%;
    ul {
        list-style: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
      .social-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 304px;
        background-color: $Grey-700;
        color: $White;
        border: none;
        border-radius: 8px;
        font-size: 0.875em;
        font-weight: 700;
        transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

        @include respond-to(tablet) {
          width: 376px;
        }
        
        @include respond-to(phone) {
          width: 279px;
        }

        &:hover {
          background-color: #bada55;
          color: #000000;
          cursor: pointer;
        }
      }
    }
  }
}
