@use "sass:map";

@font-face {
    font-family: 'Inter';
    src: url('./assets/Inter-VariableFont_slnt\,wght.ttf');
}

$font: 'Inter';

$Green: hsl(75, 94%, 57%);
$White: hsl(0, 0%, 100%);
$Grey-700: hsl(0, 0%, 20%);
$Grey-800: hsl(0, 0%, 12%);
$Grey-900: hsl(0, 0%, 8%);

$breakpoints-map: (
  phone: 375px,
  desktop: 1400px
);

@mixin respond-to($breakpoints...) {
  @each $breakpoint in $breakpoints {
    $size: map.get($breakpoints-map, $breakpoint);
    @if $size {
      @media (max-width: $size) {
        @content;
      }
    } @else {
      @warn "Breakpoint #{$breakpoint} not found in \$breakpoints-map.";
    }
  }
}